@model IEnumerable<FilmManagement.BL.Domain.Film>

@{
    ViewBag.Title = "List of Films";
}

<a asp-controller="Film" asp-action="Create">New</a>
<ul>
    @foreach (var film in Model)
    {
        <li><a asp-controller="Film" asp-action="Details" asp-route-id="@film.ImdbId">@film.Title</a></li>
    }
</ul>